In [43]:
import numpy as np
from yahoo_fin.stock_info import get_data
import yahoo_fin.stock_info as si
from datetime import datetime, timedelta
import plotly.express as px
import pandas as pd

In [51]:
nasdaq_list = {"AAPL", "AMZN", "MSFT"}
historic_data = {}
for i in nasdaq_list:
    print(i)

MSFT
AMZN
AAPL

In [59]:
for ticker in nasdaq_list:
    historic_data[ticker] = si.get_data(ticker, start_date="01/01/2013", end_date="01/03/2023", interval="1mo")

historic_data

{'MSFT':                   open        high         low       close    adjclose  \
 2013-01-01   27.250000   28.230000   26.280001   27.450001   22.481110
 2013-02-01   27.670000   28.200001   27.100000   27.799999   22.767757
 2013-03-01   27.719999   28.660000   27.520000   28.610001   23.625128
 2013-04-01   28.639999   33.110001   28.110001   33.099998   27.332809
 2013-05-01   32.930000   35.279999   32.320000   34.900002   28.819183
 ...                ...         ...         ...         ...         ...
 2022-09-01  258.869995  267.450012  232.729996  232.899994  230.671509
 2022-10-01  235.410004  251.039993  219.130005  232.130005  229.908890
 2022-11-01  234.600006  255.330002  213.429993  255.139999  252.698730
 2022-12-01  253.869995  263.920013  233.869995  239.820007  238.194717
 2023-01-01  243.080002  249.830002  219.350006  247.809998  246.130554

                 volume ticker
 2013-01-01  1145054400   MSFT
 2013-02-01   780587000   MSFT
 2013-03-01   844946000   MSFT
 2013-04-01  1465757200   MSFT
 2013-05-01  1071860000   MSFT
 ...                ...    ...
 2022-09-01   575586600   MSFT
 2022-10-01   671225100   MSFT
 2022-11-01   615296000   MSFT
 2022-12-01   591358700   MSFT
 2023-01-01   666168100   MSFT

 [121 rows x 7 columns],
 'AMZN':                   open        high         low       close    adjclose  \
 2013-01-01   12.804000   14.236000   12.663000   13.275000   13.275000
 2013-02-01   13.446500   13.715000   12.755500   13.213500   13.213500
 2013-03-01   13.163500   13.870000   12.603500   13.324500   13.324500
 2013-04-01   13.349000   13.790000   12.428000   12.690500   12.690500
 2013-05-01   12.695000   13.595500   12.287500   13.460000   13.460000
 ...                ...         ...         ...         ...         ...
 2022-09-01  126.000000  136.490005  112.059998  113.000000  113.000000
 2022-10-01  113.580002  123.000000   97.660004  102.440002  102.440002
 2022-11-01  103.989998  104.580002   85.870003   96.540001   96.540001
 2022-12-01   96.989998   97.230003   81.690002   84.000000   84.000000
 2023-01-01   85.459999  103.489998   81.430000  103.129997  103.129997

                 volume ticker
 2013-01-01  1684528000   AMZN
 2013-02-01  1373234000   AMZN
 2013-03-01  1170114000   AMZN
 2013-04-01  1538324000   AMZN
 2013-05-01  1181010000   AMZN
 ...                ...    ...
 2022-09-01  1210487600   AMZN
 2022-10-01  1459311500   AMZN
 2022-11-01  2035133200   AMZN
 2022-12-01  1549193300   AMZN
 2023-01-01  1523798600   AMZN

 [121 rows x 7 columns],
 'AAPL':                   open        high         low       close    adjclose  \
 2013-01-01   19.779285   19.821428   15.535714   16.267500   13.930416
 2013-02-01   16.396786   17.319286   15.630714   15.764286   13.499500
 2013-03-01   15.642857   16.783930   14.964286   15.809286   13.616936
 2013-04-01   15.782143   15.901786   13.753571   15.813571   13.620625
 2013-05-01   15.873571   16.633928   14.960714   16.061787   13.834418
 ...                ...         ...         ...         ...         ...
 2022-09-01  156.639999  164.259995  138.000000  138.199997  137.384979
 2022-10-01  138.210007  157.500000  134.369995  153.339996  152.435684
 2022-11-01  155.080002  155.449997  134.380005  148.029999  147.156998
 2022-12-01  148.210007  150.919998  125.870003  129.929993  129.378006
 2023-01-01  130.279999  147.229996  124.169998  144.289993  143.677002

                  volume ticker
 2013-01-01  13123423600   AAPL
 2013-02-01   9344034000   AAPL
 2013-03-01   9176876800   AAPL
 2013-04-01  10963489600   AAPL
 2013-05-01   9447530400   AAPL
 ...                 ...    ...
 2022-09-01   2084722800   AAPL
 2022-10-01   1868139700   AAPL
 2022-11-01   1724847700   AAPL
 2022-12-01   1675731200   AAPL
 2023-01-01   1443652500   AAPL

 [121 rows x 7 columns]}

In [61]:
nasdaq_stats ={}
for ticker in nasdaq_list:
    temp = si.get_stats_valuation(ticker)
    temp = temp.iloc[:,:2]
    temp.columns = ["Attribute", "Recent"]
    nasdaq_stats[ticker] = temp

nasdaq_stats

/usr/local/lib/python3.11/site-packages/yahoo_fin/stock_info.py:357: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(requests.get(stats_site, headers=headers).text)
/usr/local/lib/python3.11/site-packages/yahoo_fin/stock_info.py:357: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(requests.get(stats_site, headers=headers).text)
/usr/local/lib/python3.11/site-packages/yahoo_fin/stock_info.py:357: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(requests.get(stats_site, headers=headers).text)

{'MSFT':                    Attribute Recent
 0      Market Cap (intraday)  2.37T
 1           Enterprise Value  2.32T
 2               Trailing P/E  33.01
 3                Forward P/E  28.74
 4  PEG Ratio (5 yr expected)   2.34
 5          Price/Sales (ttm)  11.27
 6           Price/Book (mrq)  11.51
 7   Enterprise Value/Revenue  10.96
 8    Enterprise Value/EBITDA  22.09,
 'AMZN':                    Attribute  Recent
 0      Market Cap (intraday)   1.33T
 1           Enterprise Value   1.41T
 2               Trailing P/E  102.64
 3                Forward P/E   39.22
 4  PEG Ratio (5 yr expected)    2.45
 5          Price/Sales (ttm)    2.48
 6           Price/Book (mrq)    7.91
 7   Enterprise Value/Revenue    2.62
 8    Enterprise Value/EBITDA   22.60,
 'AAPL':                    Attribute Recent
 0      Market Cap (intraday)  2.72T
 1           Enterprise Value  2.77T
 2               Trailing P/E  29.18
 3                Forward P/E  26.18
 4  PEG Ratio (5 yr expected)   2.22
 5          Price/Sales (ttm)   7.21
 6           Price/Book (mrq)  45.12
 7   Enterprise Value/Revenue   7.20
 8    Enterprise Value/EBITDA  21.80}

In [67]:
combined_stats = pd.concat(nasdaq_stats)
combined_stats = combined_stats.reset_index()
combined_stats

   level_0  level_1                  Attribute  Recent
0     MSFT        0      Market Cap (intraday)   2.37T
1     MSFT        1           Enterprise Value   2.32T
2     MSFT        2               Trailing P/E   33.01
3     MSFT        3                Forward P/E   28.74
4     MSFT        4  PEG Ratio (5 yr expected)    2.34
5     MSFT        5          Price/Sales (ttm)   11.27
6     MSFT        6           Price/Book (mrq)   11.51
7     MSFT        7   Enterprise Value/Revenue   10.96
8     MSFT        8    Enterprise Value/EBITDA   22.09
9     AMZN        0      Market Cap (intraday)   1.33T
10    AMZN        1           Enterprise Value   1.41T
11    AMZN        2               Trailing P/E  102.64
12    AMZN        3                Forward P/E   39.22
13    AMZN        4  PEG Ratio (5 yr expected)    2.45
14    AMZN        5          Price/Sales (ttm)    2.48
15    AMZN        6           Price/Book (mrq)    7.91
16    AMZN        7   Enterprise Value/Revenue    2.62
17    AMZN        8    Enterprise Value/EBITDA   22.60
18    AAPL        0      Market Cap (intraday)   2.72T
19    AAPL        1           Enterprise Value   2.77T
20    AAPL        2               Trailing P/E   29.18
21    AAPL        3                Forward P/E   26.18
22    AAPL        4  PEG Ratio (5 yr expected)    2.22
23    AAPL        5          Price/Sales (ttm)    7.21
24    AAPL        6           Price/Book (mrq)   45.12
25    AAPL        7   Enterprise Value/Revenue    7.20
26    AAPL        8    Enterprise Value/EBITDA   21.80

In [69]:
market_caps = combined_stats[combined_stats["Attribute"]=="Market Cap (intraday)"]
del market_caps["level_1"]
market_caps.columns = "Ticker", "Attribute", "Value"
market_caps

   Ticker              Attribute  Value
0    MSFT  Market Cap (intraday)  2.37T
9    AMZN  Market Cap (intraday)  1.33T
18   AAPL  Market Cap (intraday)  2.72T